.w {
  width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 79px;
  /* background-color: purple; */
  /* 注意此地方會層疊 w 裡面的margin */
  margin: 30px auto;
}

.logo {
  float: left;
  width: 282px;
  height: 79px;
  /* background-color: skyblue; */
}

.nav {
  float: left;
  margin-left: 10px;
}

.nav ul li {
  float: left;
  margin: 0 15px;
}

.nav ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  line-height: 60px;
  font-size: 26px;
  color: #050505;
}

.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}

/* search搜索模塊 */
.search {
  float: left;
  width: 526px;
  height: 45px;
  background-color: skyblue;
  margin-left: 70px;
}

.search input {
  float: left;
  width: 430px;
  height: 76px;
  border: 1px solid #00a4ff;
  border-right: 0;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}

.search button {
  float: left;
  width: 78px;
  height: 79px;
  /* 按鈕button默認有個邊框需要我們手動去掉 */
  border: 0;
  /* background-color: blue; */
  background: url(/images/btn.png);
}

.user{
  float: right;
  line-height: 79px;
  margin-right: 130px;
  font-size: 14px;
  color: #666;
}