.w {
  width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 79px;
  /* background-color: purple; */
  /* 注意此地方會層疊 w 裡面的margin */
  margin: 30px auto;
}

.logo {
  float: left;
  width: 282px;
  height: 79px;
  /* background-color: skyblue; */
}

.nav {
  float: left;
  margin-left: 10px;
}

.nav ul li {
  float: left;
  margin: 0 15px;
}

.nav ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  line-height: 60px;
  font-size: 26px;
  color: #050505;
}

.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}

/* search搜索模塊 */
.search {
  float: left;
  width: 526px;
  height: 45px;
  background-color: skyblue;
  margin-left: 70px;
}

.search input {
  float: left;
  width: 430px;
  height: 76px;
  border: 1px solid #00a4ff;
  border-right: 0;
  color: #bfbfbf;
  font-size: 14px;
  padding-left: 15px;
}

.search button {
  float: left;
  width: 78px;
  height: 79px;
  /* 按鈕button默認有個邊框需要我們手動去掉 */
  border: 0;
  /* background-color: blue; */
  background: url(/images/btn.png);
}

.user {
  float: right;
  line-height: 79px;
  margin-right: 130px;
  font-size: 14px;
  color: #666;
}

/* banner區域 */
.banner {
  height: 421px;
  background-color: #1c036c;
}

.banner .w {
  height: 421px;
  background: url(/images/banner2.png) no-repeat center top;
}

.subnav {
  float: left;
  width: 190px;
  height: 421px;
  background: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
}

.subnav ul li a {
  font-size: 14px;
  color: #fff;
}

.subnav ul li a span {
  float: right;
}

.subnav ul li a:hover {
  color: #00a4ff;
}

.course {
  float: right;
  width: 230px;
  height: 340px;
  background-color: #fff;
  /* 浮動的盒子不會有外邊距合併的問題 */
  margin-top: 40px;
}

.course h2 {
  height: 48px;
  background-color: #9bceea;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.bd {
  /* padding: 0 20px; */
}

.bd ul {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 24px;
}

.bd ul li {
  width: 168px;
  padding: 13px 0;
  border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
  margin: 0 0;
  font-size: 16px;
  color: #4e4e4e;
}

.bd ul li p {
  margin: 0 0;
  font-size: 12px;
  color: #a5a5a5;
}

.bd .more {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0 40px;
  width: 75px;
  height: 38px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
}
